body {
	background-color: #f9f9f9;
}

.main__page {
	width: 100vw;
	height: 90vh;
	display: flex;
	justify-content: space-around;
	align-items: center;
	flex-direction: column;
}

.main__page-message {
	display: flex;
	flex-direction: column;
	background-color: white;
	box-shadow: 0px 0px 2px 0px rgba(0,0,0,0.3);
	border-radius: 15px;
	margin: 15px 0;
	padding: 15px;
}

.message__error,
.message__success {	
	font-weight: bold;
	text-shadow: 1px 1px 2px rgba(150, 150, 150, .2);
}

.message__error {
	color: #f7000091;
}

.message__success {
	color: #19a82991;
}

.message__info {
	color: #007bff;
}

.main__page-form,
.main__page-table {
	width: 960px;
	height: 450px;
	display: flex;
	flex-direction: column;
}

.main__page-form .form-button {
	display: flex;
	justify-content: center;
}

.main__page-form input {
	padding: 15px;
	margin: 3px;
	border: none;
	border-radius: 5px;
}

.main__page-form .button {
	padding: 15px;
	border-radius: 5px;
	text-shadow: 1px 1px 2px rgba(0, 0, 0, .2);
	transition: all .1s ease-in;
}

.main__page-form .button-no {
	color: red;
	background-color: #fff;
	border: 1px solid red;
	text-decoration: none;
	margin-right: 10px;
}

.main__page-form .button-yes {
	background-color: #fff;
	border: 1px solid #19a82991;
}

.main__page-form .button:hover {	
	cursor: pointer;
	color: #fff;
}

.main__page-form .button-no:hover {
	background-color: red;
}

.main__page-form .button-yes:hover {
	background-color: #19a82991;
}